# | Dangerous Caves by Evil-Lootlye
# | Forked by imDaniX

# Version of this configuration file
version: ${cfgVersion}

# NOTE: Chances
# All the chances are in percents

# NOTE: Worlds
# World names are case-sensitive
# Instead of specifying worlds you can leave them blank - all the OVERWORLD worlds will be used automatically
# "Blank worlds" doesn't means "worlds:" - use "worlds: []"

# NOTE: Ticks
# Plugin utilizes its own tick system which is based on vanilla one
# WORLD tick is 6300 vanilla ticks (about 5 minutes 15 seconds)
# PLAYER tick is 800 vanilla ticks (about 40 seconds)
# ENTITY tick is 4 vanilla ticks (about 200 milliseconds)

# NOTE: Per-version
# 1.13+ Materials(ignore LEGACY) https://hub.spigotmc.org/javadocs/spigot/org/bukkit/Material.html
# -1.12 Materials https://helpch.at/docs/1.12.2/index.html?org/bukkit/Material.html
# 1.13+ Sounds https://hub.spigotmc.org/javadocs/spigot/org/bukkit/Sound.html
# -1.12 Sounds https://helpch.at/docs/1.12.2/index.html?org/bukkit/Sound.html

#
# Some plugin integrations
#
integration:

  # For disabling features in specific regions
  protection:
    # Available options: worldguard, worldguard-flags, griefprevention, griefprevention-flags, lands, lands-effectless none
    # If you have several plugins, you can use multiple checks - just separate modes with comma
    # mode: worldguard-flags,griefprevention
    mode: none
    # WorldGuard flags:
    # dc-entity-grief (magma monster, lava creeper)
    # dc-block-change (cave-ins, caves aging)
    # dc-player-effect (ambient sounds, hypoxia)
    # `griefprevention-flags` mode requires GriefPreventionFlags plugin. You don't need it for `griefprevention`
    # GriefPreventionFlags flags:
    # DCNoEntityGrief (magma monster, lava creeper)
    # DCNoBlockChange (cave-ins, caves aging)
    # DCNoPlayerEffect (ambient sounds, hypoxia)
    # Lands settings:
    # ENTITY_GRIEFING (magma monster, lava creeper)
    # LEAF_DECAY (cave-ins, caves aging)
    # `lands-effectless` (ambient sounds, hypoxia)

    # Invert checks by default
    invert: false

  # PlaceholderAPI required. For displaying some data from the plugin.
  placeholders:
    # %dangerouscaves_hypoxia_chance% - a chance to get Hypoxia, scales from 0 to 100
    hypoxia-chance:
      enabled: false

#
# Cave-related things
#
caverns:

  # Cave-Ins - blocks may fall down when mining
  ins:
    enabled: true
    # List of worlds where cave-ins may appear
    worlds:
      - world
    # Chance of cave-ins while mining blocks
    # In percents
    chance: 0.25
    # Cuboid-shaped cave-ins. Doesn't affect performance
    cuboid: false
    # Sand-like fall. Can cause client-side lags and block drops, but looks fancy
    slow-fall: true
    # Immunity to cave-ins if player has rabbit foot in inventory
    rabbit-foot: true
    # Radius of cave-ins
    radius: 2
    # Maximal Y where cave-ins may appear
    y-max: 25
    # Give player effects on cave-ins?
    blast-effect: true
    # Play explosion sound on cave-ins?
    blast-sound: true

  # Ambient Sounds - special sound may be played underground
  ambient:
    enabled: true
    # List of worlds where ambient sounds can be played
    worlds:
      - world
    # Chance of sound will be played
    # Checking every PLAYER tick
    chance: 6.35
    # Maximal Y where sound can be played
    y-max: 64
    # Play sound in random location near player. 0 to play sound on player's location
    near: 7
    # List of sounds to play - you can add more or remove some
    sounds:
      MUSIC_DRAGON:
        volume: 1
        pitch: 0.5
      MUSIC_NETHER:
        volume: 1
        pitch: 0.5
      MUSIC_DISC_11:
        volume: 1
        pitch: 0.5
      MUSIC_DISC_13:
        volume: 1
        pitch: 0.5
      ENCHANT_THORNS_HIT:
        volume: 0.04
        pitch: 0.2
      ENTITY_GHAST_SCREAM:
        volume: 1
        pitch: 0.5

  # Depth Hypoxia - will cause player to move and dig slower
  hypoxia:
    enabled: true
    # List of worlds where players can sense hypoxia
    worlds:
      - world
    # Chance of checking the player
    # Checking every PLAYER tick
    try-chance: 60
    # Formula to calculate chance of activation. Supports integers, floats, -, +, *, /, ^, (, )
    # Result should be between 0 and 1, where 0 is 0% and 1 is 100%
    # Depth (0-1) - depth of player, where 1 is Y 0, and 0 is y-max(from config)
    # Inventory (0-1) - inventory fullness, where 1 is full and 0 is empty; slot considered as full if it has maximal amount of item inside(like 1 iron pickaxe, 16 ender pearls or 64 dirt)
    # For 2.1.9 behavior use "(depth+inventory)/2"
    chance-formula: "depth*inventory"
    # Limit maximal and minimal chance of activation. Set `chance-max` 100 to disable
    chance-min: 10
    chance-max: 90
    # Maximal Y where players can sense lack of air
    y-max: 42
    # Use actionbar instead of chat to show messages
    actionbar: true
    # Messages when player is feeling lack of air. You can use %player placeholder
    messages:
      - "&4I really need more air..."
      - "&4It is so stuffy down here."
      - "&4Maybe drop some items from the inventory?"

  # Caves Aging - over time caves will get some vines and rocks
  aging:
    enabled: true
    # List of worlds where aging will be processed
    worlds:
      - world
    # Chance of caves near player will be affected
    # Checking every WORLD tick
    chance: 50
    # Radius of cave aging near player
    # In chunks (+1 where the player is)
    radius: 3
    # Maximal Y where aging will be processed
    y-max: 64
    # Chance of block will be affected
    change-chance: 2.5
    # Maximal light level of block (0-15)
    # WARNING: Can cause lags if > 0. This option checks every horizontal side of block to check if there's some light
    max-light-level: 0
    # Vanilla ticks between chunk changes. Larger value - better performance, but slower process
    # Large values(60+) are not recommended
    schedule-timer: 4
    # Force chunk loading if chunk was unloaded during scheduled aging. Disable if it's too intensive for your server
    force-load: true
    # Maximal percentage of aged blocks per chunk
    percentage: 70
    # List of materials that are affected by aging
    replace-blocks:
      - STONE
      - ANDESITE
      - COBBLESTONE
      - COBBLESTONE_WALL
    # What to do with replace-blocks?
    age-types:
      vines: true
      rocks: true
      mushrooms: true
      replace: true
    # Replace torch on caves aging. Not affected by `change-chance`
    torch-remove-chance: 40
    # List of coordinates of chunks that should be ignored
    # To get chunk coordinates just divide your coordinates by 16 and ignore remainder(or use command)
    # "-1,-1" variant is allowed(just one chunk)
    # Worlds are case-sensitive!
    skip-chunks:
    #  world:
    #   - "-1,-1 1,1"
    #   - "10,24"
    #  second_world:
    #   - "0,0"

#
# Generator-related things
#
generator:
  enabled: true

  # Force Dangerous Caves' generator to wait for other plugins (other generators)
  wait-other: false

  # Chance of custom structure generations in chunk
  chance: 50

  # Maximal amount of tries to find empty space for generation
  max-tries: 3

  # Worlds where generator will work
  worlds:
    - world

  # Items in generated chests
  chest-items:
    - OAK_PLANKS
    - TORCH
    - COBWEB
    - BONE
    - STICK
    - OAK_LOG
    - WATER_BUCKET
    - WOODEN_PICKAXE
    - STONE_PICKAXE
    - OAK_SAPLING
    - COAL
    - BEEF
    - APPLE
    - CHICKEN
    - WHITE_WOOL
    - BREAD
    - DIRT
    - CARROT
    - COOKIE
    - WOODEN_AXE
    - STONE_AXE
    - PAPER
    - SUGAR_CANE
    - SUGAR
    - TORCH
    - DIRT

  # List of *default* structures to generate
  # Larger priority - larger chance in comparison with others. Set to 0 to disable
  # Chance formula - (structure_priority)/(total_priority)
  structures:
    traps: 1
    pillars: 1
    boulders: 1
    buildings: 1

  # Chance of spawning a mimic inside of custom structure with chests
  mimic-chance: 10

#
# Mob-related things
#
mobs:
  enabled: true

  # Chance of spawning custom mob instead of vanilla one
  try-chance: 25

  # World where mob can spawn(and work as it's intended to work)
  worlds:
    - world

  # Minimal and maximal Y coordinate where custom mobs can spawn
  y-min: 4
  y-max: 64

  # (Paper only) Use PreCreatureSpawnEvent when trying to spawn mobs. More performance-friendly, but a bit less accurate
  # Disabled for 1.16+
  use-prespawn: false

  # Block renaming with name-tags
  restrict-rename: false

  # Maximal light level where mobs can spawn. Vanilla level for monsters is 7. Set to 16 or more to disable
  max-light-level: 16

  # Only these mobs will be replaced
  replace-mobs:
    - ZOMBIE
    - HUSK
    - SKELETON
    - STRAY
    - CREEPER
    - SPIDER
    - WITCH
    - ENDERMAN

  # Add metadata "DangerousCaves" when mob is spawned. Useful for some plugins like SAML.
  # Not sure, but can cause memory leak, so disabled by default
  add-metadata: false

  # List of *default* custom mobs

  # To disable mob's name just leave it blank, like
  #   name: ""
  # Larger priority - larger chance to spawn in comparison with others.
  # Set priority to 0 to disable mob, like
  #   priority: 0
  # Spawn chance formula - (mob_priority)/(total_priority)

  # Alpha Spider
  # Spawns cave-spiders as minions and covers player in cobweb
  alpha-spider:
    priority: 9
    health: 18
    name: "&4Alpha Spider"
    # When spider is damaged
    cobweb-chance: 14.29
    # When spider is damaged
    minion-chance: 6.67

  # Crying Bat
  # Just screams and eventually dies
  crying-bat:
    priority: 9
    name: "&4Crying Bat"
    # Every ENTITY tick
    cry-chance: 3.33
    # Every ENTITY tick if cry was successful
    death-chance: 20

  # Dead Miner
  # Placing torches when it's too dark and drops some items when damaged
  dead-miner:
    priority: 10
    name: "&4Dead Miner"
    health: 22
    # Get your custom head here https://minecraft-heads.com/
    # Just copy a "Value" (with =)
    head-value: "eyJ0ZXh0dXJlcyI6eyJTS0lOIjp7InVybCI6Imh0dHA6Ly90ZXh0dXJlcy5taW5lY3JhZnQubmV0L3RleHR1cmUvMzE5MzdiY2Q1YmVlYWEzNDI0NDkxM2YyNzc1MDVlMjlkMmU2ZmIzNWYyZTIzY2E0YWZhMmI2NzY4ZTM5OGQ3MyJ9fX0="
    # Place torches when it's too dark?
    place-torches: true
    # Place redstone torches instead of normal?
    red-torches: false
    # Don't place torches if Dead Miner has player as a target
    without-target: false
    # Cooldown in seconds between torches placing. Useful for preventing torch farms. Set to 0 to disable
    torches-cooldown: 12
    # When Dead Miner is damaged
    drop-chance: 30
    # Materials list
    drop-items:
      - COBBLESTONE
      - DIRT
      - COAL
      - TORCH

  # Hexed Armor
  # When attacks gives player all its armor
  hexed-armor:
    priority: 6
    name: "&4Hexed Armor"
    health: 20
    # Add binding curse to armor
    binding-curse: true
    # When player is attacked
    apply-chance: 25

  # Hungering Darkness
  # Spawns in the dark and kills player if there's no light
  hungering-darkness:
    priority: 8
    name: ""
    # Kill the entity on light?
    remove-on-light: false
    # Is night vision effect considered as light?
    night-vision: false
    # When player is attacked
    damage: 200

  # Lava Creeper
  # When blows up creates a crater with magma, obsidian and lava
  lava-creeper:
    priority: 6
    name: "&4Lava Creeper"
    health: 20
    # When Lava Creeper is damaged. In ticks
    fire-touch: 10
    # Radius in blocks
    radius: 4
    # Chance that the block will be changed
    change-chance: 50
    block-chances:
      fire: 33.33
      magma_block: 25
      obsidian: 20
      lava: 16.67

  # Magma Monster
  # Leaves a trail of magma on its way
  magma-monster:
    priority: 4
    name: "&4Magma Monster"
    health: 20
    # If monster is extinguished it will receive damage
    extinguished-damage: false
    # Placing fire. Every ENTITY tick
    fire-chance: 7.14
    # Placing magma-blocks. Every ENTITY tick
    magma-chance: 3.57

  # Smoke Demon
  # Creates a smoke and gives wither effect
  smoke-demon:
    priority: 7
    name: ""
    health: 20
    # Radius in blocks
    harm-radius: 3

  # TNT Creeper
  # Spawns additional TNTs when explodes and creates small explosion when damaged
  tnt-creeper:
    priority: 9
    name: "&4TNT Creeper"
    health: 20
    # Amount of TNT to spawn after explosion
    tnt-amount: 2
    # When TNT Creeper is damaged
    explosion-chance: 33.33

  # Watcher
  # Just jumpscares a player
  watcher:
    priority: 7
    name: "&4Watcher"
    health: 20
    # Get your custom head here https://minecraft-heads.com/
    # Just copy a "Value" (with =)
    head-value: "eyJ0ZXh0dXJlcyI6eyJTS0lOIjp7InVybCI6Imh0dHA6Ly90ZXh0dXJlcy5taW5lY3JhZnQubmV0L3RleHR1cmUvZDI5MzhmMjQxZDc0NDMzZjcyZjVjMzljYjgzYThlNWZmN2UxNzdiYTdjYjQyODY5ZGI2NGUzMDc5MTAyYmZjNSJ9fX0="

  # Mimic
  # Becomes a chest when it has no target
  mimic:
    priority: 0
    name: "&4Mimic"
    health: 30
    # List of dropped materials after death
    drop-items:
      - BOOK
      - SADDLE
      - OAK_PLANKS
      - TORCH
      - COAL
      - GOLDEN_APPLE
      - COBWEB

  # Cave Golem
  # Has strong attack, can be damaged only with pickaxe, drops its head on death
  cave-golem:
    priority: 3
    health: 35
    name: "&4Cave Golem"
    # Give Cave Golem slowness effect
    slowness: true
    # When Cave Golem is attacking give its victim slowness, nausea and blindness effects
    distract-attack: true
    # Damage multiplier when Cave Golem is attacking
    damage-modifier: 2.0
    # Damage multiplier when player is attacking Cave Golem without pickaxe
    nonpickaxe-modifier: 0.07
    # These blocks will be on Cave Golem's head and will be dropped after death
    variants:
      - COAL_ORE
      - IRON_ORE
      - GOLD_ORE
      - LAPIS_ORE
      - DIAMOND_ORE
      - EMERALD_ORE
